<%- include ("partials/header") %>

<h1>
	CMMS Landing Page
</h1>

<p>
	<a href="/assets">View the assets page</a>
</p>
<p>
	Placeholder for customized dashboards.
</p>
<ul>
	<li>To-do list</li>
	<li>performance metrics</li>
</ul>

<%- include ("partials/footer") %>