<%- include ("../partials/header") %>

<div class="container-fluid">
	<div class="container">
		<h1 class="text-center">
			Create a New Asset
		</h1>
		<div style="width: 30%; margin: 0 auto;">
			<form action="/assets" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="fc" placeholder="fc">
				</div>
				<div class="form-group">
					<input class="form-control" type="text"	name="img" placeholder="image url">
				</div>
				<div class="form-group">
					<input class="form-control" type="text"	name="description" placeholder="description">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-default btn-primary btn-block">
						Submit
					</button>
				</div>
				<a href="/assets">Go Back</a>
			</form>
		</div>

	</div>
</div>


<%- include ("../partials/footer") %>